html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  background-color: #f5f2f0;
  margin: 0;
}

main {
  padding: 1rem;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0 0 1.35rem;
  font-size: 1.75rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  margin-bottom: .5rem;
  padding: 0;
  list-style: none;
}

ol li {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: #ede3db;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: #623b0c;
  padding: .9rem;
}

h2 {
  font-size: 1.25rem;
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0;
  padding-bottom: 1.5rem;
}

a {
  font-size: .9rem;
  background-color: #623b0c;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  text-align: left;
  padding: .5rem;
  margin-top: auto;
}

p {
  font-size: .9rem;
  margin: 1.32rem 0;
}
